@import "tailwindcss";

:root {
  --background: #1E1E1E ;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1E1E ;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
  border-radius: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #D2D15B;
  border-radius: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #B7BB4C; /* Tailwind slate-300 */
  border-radius: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #918E27; /* Tailwind slate-400 */
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #918E27 #D2D15B;
}
